@font-face {
  font-family: 'Roboto Regular';
  src: url("../fonts/Roboto.woff2") format("woff2"), url("../fonts/Roboto.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto Medium';
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rubik Regular';
  src: url("../fonts/rubik-regular-webfont.woff2") format("woff2"), url("../fonts/rubik-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Rubik Medium';
  src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  box-sizing: border-box; }

*,
*:after,
*:before {
  box-sizing: inherit; }

a,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden; }

/* APP STYLES */
.app {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media only screen and (max-width: 1024px) {
    .app {
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

/* MAIN-MENU STYLES */
.main-menu {
  min-width: 255px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #2d323e;
  transition: min-width .3s ease; }
  @media only screen and (max-width: 1440px) {
    .main-menu {
      min-width: 55px; } }
  .main-menu__header {
    height: 67px;
    padding: 0 20px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-bottom: 1px solid #292d38;
    background-color: #373c47; }
    @media only screen and (max-width: 1440px) {
      .main-menu__header {
        padding: 0;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  @media only screen and (max-width: 1440px) and (max-width: 1024px) {
    .main-menu__header {
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      background-color: #2d323e; } }
  .main-menu__header-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 1440px) {
      .main-menu__header-wrap {
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  @media only screen and (max-width: 1440px) and (max-width: 1024px) {
    .main-menu__header-wrap {
      -webkit-flex-direction: row-reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      padding-left: 20px; } }
  .main-menu__mobile-features {
    display: none; }
    @media only screen and (max-width: 1024px) {
      .main-menu__mobile-features {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  .main-menu__header-text {
    font: 16px/1.4 "Roboto Medium", Arial, sans-serif;
    color: #fefefe; }
    @media only screen and (max-width: 1440px) {
      .main-menu__header-text {
        display: none; } }
  @media only screen and (max-width: 1440px) and (max-width: 1024px) {
    .main-menu__header-text {
      display: block;
      color: #bdbec2; } }
  .main-menu__func-btn {
    text-decoration: none;
    color: #fefefe;
    font-size: 22px; }
  .main-menu__func-btn--hide {
    display: block; }
    @media only screen and (max-width: 1440px) {
      .main-menu__func-btn--hide {
        display: none; } }
  @media only screen and (max-width: 1440px) and (max-width: 1024px) {
    .main-menu__func-btn--hide {
      display: none; } }
  .main-menu__func-btn--show {
    display: none; }
    @media only screen and (max-width: 1440px) {
      .main-menu__func-btn--show {
        display: block; } }
  @media only screen and (max-width: 1440px) and (max-width: 1024px) {
    .main-menu__func-btn--show {
      display: block;
      margin-right: 20px;
      color: #bdbec2; } }
  .main-menu__func-btn:hover {
    color: #bdbec2; }
    @media only screen and (max-width: 1024px) {
      .main-menu__func-btn:hover {
        color: #fefefe; } }
  .main-menu__list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
    @media only screen and (max-width: 1024px) {
      .main-menu__list {
        display: none; } }
  .main-menu__list-item {
    display: block;
    cursor: pointer; }
  .main-menu__list-item:hover {
    background-color: #292d38; }
  .main-menu__item-icon {
    margin-right: 25px;
    font-size: 22px; }
    @media only screen and (max-width: 1440px) {
      .main-menu__item-icon {
        margin-right: 0; } }
  .main-menu__item-link {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 48px;
    padding: 0 25px;
    font: 14px "Roboto Medium", Arial, sans-serif;
    text-decoration: none;
    color: #bdbec2; }
    @media only screen and (max-width: 1440px) {
      .main-menu__item-link {
        padding: 0;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  @media only screen and (max-width: 1440px) {
    .main-menu__item-text {
      display: none; } }

/* MAIN-CONTENT STYLES */
.btn {
  display: block;
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  background-color: inherit; }
  .btn--search {
    margin-top: 3px;
    font-size: 23px;
    color: #5e6a80; }
  .btn--search:hover {
    color: #bdbec2; }

.main-content {
  width: calc(100vw - 255px); }
  @media only screen and (max-width: 1440px) {
    .main-content {
      width: calc(100vw - 55px); } }
  @media only screen and (max-width: 1440px) and (max-width: 1024px) {
    .main-content {
      width: 100vw; } }
  .main-content__top-bar {
    height: 67px;
    padding: 13px 70px 13px 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #ffffff;
    border-bottom: 1px solid #d9dce3;
    box-shadow: 3px 1px 5px 0px #d9dce3;
    transition: padding-left .3s ease; }
    @media only screen and (max-width: 1440px) {
      .main-content__top-bar {
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-left: 70px; } }
  @media only screen and (max-width: 1440px) and (max-width: 1024px) {
    .main-content__top-bar {
      display: none; } }
  .main-content__top-bar-text {
    display: none;
    font: 16px/40px "Roboto Medium", Arial, sans-serif;
    color: #424a59; }
    @media only screen and (max-width: 1440px) {
      .main-content__top-bar-text {
        display: block; } }
  .main-content__top-bar-wrap {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .main-content__content {
    height: calc(100vh - 67px);
    background-color: #f2f5f9;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: inset 0px 2px 26px -9px #5e6a80; }
  .main-content__content::-webkit-scrollbar {
    height: 12px; }
  .main-content__content::-webkit-scrollbar-track-piece {
    background-color: #d9dce3; }
  .main-content__content::-webkit-scrollbar-thumb:horizontal {
    background-color: #b0b5bc; }
  .main-content__wrap {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 0 0 20px;
    transition: padding-left .3s ease; }
    @media only screen and (max-width: 1440px) {
      .main-content__wrap {
        padding-left: 60px; } }
  @media only screen and (max-width: 1440px) and (max-width: 1024px) {
    .main-content__wrap {
      padding-left: 0; } }

/* TOP-BAR STYLES */
.search {
  height: 40px;
  position: relative; }
  .search__input {
    display: block;
    width: 285px;
    height: 40px;
    padding: 0 40px 0 15px;
    margin: 0;
    border: none;
    outline: none;
    font: 14px/40px "Roboto Regular", Arial, sans-serif;
    color: #919cb1;
    border: 1px solid #b0b5bc;
    border-radius: 2px;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  .search__input:focus {
    border-color: #74a6fa;
    box-shadow: 0px 1px 21px -6px #74a6fa; }
  .search:after {
    content: '\F349';
    display: block;
    padding: 0 10px;
    position: absolute;
    top: 0;
    right: 0;
    font: normal normal normal 24px/40px "Material Design Icons";
    cursor: pointer;
    color: #5e6a80; }

.notific {
  display: block;
  width: 75px;
  height: 40px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .notific__link {
    padding: 5px 10px;
    position: relative;
    font-size: 24px;
    color: #5e6a80;
    cursor: pointer; }
  .notific__counter {
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5px;
    right: 8px;
    background-color: #e2715c;
    font: 10px/14px "Roboto Medium", Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    border-radius: 3px; }

.profile-link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #5e6a80; }
  .profile-link__image {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    border-radius: 50%; }
  .profile-link:hover {
    color: #000000; }

/* TASK STYLES */
.task {
  width: 272px;
  max-height: calc(100vh - 67px);
  margin: 0 10px;
  padding: 30px 0 0 0;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  font-size: 14px;
  overflow-y: hidden;
  overflow-x: hidden; }
  .task::-webkit-scrollbar {
    width: 10px; }
  .task::-webkit-scrollbar-track-piece {
    background-color: #d9dce3; }
  .task::-webkit-scrollbar-thumb:vertical {
    background-color: #b0b5bc; }
  .task:hover {
    overflow-y: auto; }
  .task__content {
    width: 262px; }
  .task__header {
    height: 50px;
    padding: 0 12px 0 18px;
    margin-bottom: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #208abe; }
  .task__header-text {
    font: 12px "Rubik Medium", Arial, sans-serif;
    text-transform: uppercase;
    color: #ffffff; }
  .task__controls-item {
    color: #ffffff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer; }
  .task__input-box {
    height: 45px;
    padding: 0 13px 0 18px;
    margin-bottom: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #7db6fd; }
  .task__input {
    display: block;
    width: 185px;
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    background-color: transparent;
    font: 14px "Roboto Medium", Arial, sans-serif;
    color: #424a59; }
  .task__input-controls-box {
    opacity: 0;
    transition: opacity .2s linear; }
  .task__input:focus + .task__input-controls-box {
    opacity: 1; }
  .task__input-controls {
    margin-right: 5px;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer; }
  .task__input-controls:last-child {
    margin-right: 0; }
  .task__input-controls--chek {
    color: #8ddc86; }
  .task__input-controls--cancel {
    color: #df5b5b; }
  .task__input-icons:before {
    font-weight: bold; }

/* CARD STYLES */
.card {
  margin-bottom: 10px;
  border: 1px solid #e3e6ed;
  box-shadow: 0px 7px 6px -9px #b0b5bc; }
  .card__body {
    padding: 15px 15px 10px 15px; }
  .card__lines {
    margin-bottom: 7px;
    font-size: 0; }
  .card__color-line {
    display: inline-block;
    width: 40px;
    height: 4px;
    margin: 0 8px 0 0;
    padding: 0;
    border: 0;
    outline: 0;
    border-radius: 4px; }
  .card__color-line--red {
    background-color: #df5b5b; }
  .card__color-line--yellow {
    background-color: #f1c752; }
  .card__color-line--green {
    background-color: #8ddc86; }
  .card__color-line--blue {
    background-color: #7db6fd; }
  .card__name {
    margin-bottom: 9px;
    font: 16px "Roboto Medium", Arial, sans-serif;
    color: #424a59; }
  .card__members {
    margin-bottom: 10px;
    padding-right: 8px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0; }
  .card__member-link {
    display: inline-block;
    margin-right: 5px;
    cursor: pointer; }
  .card__member-link:last-child {
    margin-right: 0; }
  .card__member-link--leader {
    margin-right: 25px; }
  .card__member-img {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%; }
  .card__members-counter {
    width: 32px;
    border: 1px solid #8ddc86;
    border-radius: 15px;
    text-decoration: none;
    font: 12px/1.4 "Roboto Medium", Arial, sans-serif;
    color: #8ddc86;
    text-align: center;
    cursor: pointer; }
  .card__progress {
    padding-right: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .card__progressbar {
    display: block;
    width: 185px;
    height: 4px;
    border: none;
    overflow: hidden;
    border-radius: 4px;
    background: #e7e9ee; }
  .card__progressbar::-webkit-progress-bar {
    background: #e7e9ee; }
  .card__progressbar::-moz-progress-bar {
    background: #8ddc86; }
  .card__progressbar::-webkit-progress-value {
    background: #8ddc86;
    border-radius: 4px; }
  .card__progress-counter {
    font: 12px "Roboto Medium", Arial, sans-serif;
    color: #667081; }
  .card__progress-done {
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
    background-color: #8ddc86; }
  .card__progress-done:before {
    font-weight: bold; }
  .card__checklist {
    padding-top: 5px; }
  .card__checklist-item {
    margin-bottom: 10px; }
  .card__checklist-item:last-child {
    margin-bottom: 0; }
  .card__checklist-checkbox {
    display: none; }
  .card__checklist-label {
    display: inline-block;
    padding-left: 25px;
    position: relative;
    font: 14px "Roboto Regular", Arial, sans-serif;
    color: #424a59;
    cursor: pointer; }
  .card__checklist-label:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font: normal normal bold 12px/14px "Material Design Icons";
    border: 1px solid #d0d4dd;
    border-radius: 2px;
    cursor: pointer; }
  .card__checklist-checkbox:checked + .card__checklist-label:before {
    content: "\F12C";
    color: #ffffff;
    border-color: transparent;
    background-color: #8ddc86; }
  .card__footer {
    padding: 18px 15px 20px 15px;
    border-top: 1px solid #e3e6ed; }
  .card__footer-item {
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 10px;
    text-decoration: none; }
  .card__footer-icon {
    margin-right: 7px;
    font-size: 18px; }
  .card__footer-icon--comment {
    color: #7db6fd; }
  .card__footer-icon--attachment {
    color: #df5b5b; }
  .card__footer-text {
    font: 12px "Roboto Medium", Arial, sans-serif;
    color: #667081; }
