// colors
$white: #ffffff;
$black: #000000;
$menu-header-bg: #373c47;
$menu-header-text: #fefefe;
$menu-main-bg: #2d323e;
$menu-items-text: #bdbec2;
$menu-hover-item-bg: #292d38;
// paths
$font-path: "../fonts";
$images-path: "../img";
 // fonts
$default-fonts: Arial, sans-serif;
