// colors
$white:                  #ffffff;
$black:                  #000000;
$menu-header-bg:         #373c47;
$menu-header-text:       #fefefe;
$menu-main-bg:           #2d323e;
$menu-items-text:        #bdbec2;
$menu-hover-item-bg:     #292d38;
$menu-hover-item-border: #ff725b;
$top-bar-icons-color:    #5e6a80;
$main-content-scroll:    #b0b5bc;
$main-content-bg:        #f2f5f9;
$content-bg-mobile:      #eeeeee;
$scroll-track-bg:        #d9dce3;
$scroll-thumb-bg:        #b0b5bc;
$task-header-bg:         #208abe;
$task-blue:              #7db6fd;
$task-red:               #df5b5b;
$task-yellow:            #f1c752;
$task-green:             #8ddc86;
$card-border-color:      #e3e6ed;
$card-primary-text:      #424a59;
$card-secondary-text:    #667081;
$card-progressbar-bg:    #e7e9ee;

// paths
$font-path: "../fonts";
$images-path: "../img";

// fonts
$default-fonts: Arial, sans-serif;

// values
$top-bar-height:        67px;
$main-menu-width:       255px;
$main-menu-width-short: 55px;